$baseFontSize: 16;
$green: #1abc9c;
$yellow: #f1c40f;
$red: #c0392b;
$blue: #3498db;
$grey: #f2f2f2;
$start-smart-color-light-blue--mobile: #5497c3;
$start-smart-color--light-green: #61ae3b;

$width-mobile: 400px;
$width-mobile-half: 400px/2; 

$width-tablet: 500px;
$width-tablet-half: 500px/2;

$width-mobile-mask-depth: 45px;
$width-tablet-mask-depth: 85px;


@function rem($val) {
  @return #{$val}px;
}
@mixin Rotate($rotate-degree) {
    -webkit-transition-duration: 3s; /* Safari */
    transition-duration: 3s;
    -ms-transition-duration: 3s;
     -moz-transition-duration: 3s;
    -webkit-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -webkit-transform: rotate($rotate-degree);
    -ms-transform: rotate($rotate-degree);
    -moz-transform: rotate($rotate-degree);
    transform: rotate($rotate-degree);
}

@mixin semi-circle($web-deg, $deg, $ms-deg, $color1, $color2, $percent)
{
    background: -webkit-linear-gradient($web-deg, $color1 0%, $color1 $percent, $color2 $percent, $color2);
    background: linear-gradient($deg, $color1 0%, $color1 $percent, $color2 $percent, $color2);
    background: -ms-linear-gradient($ms-deg, $color1 0%, $color1 $percent, $color2 $percent, $color2);
}


.body {
  font-size: #{$baseFontSize};
}

.limit{
	width: 345px;
}


.minValue, .maxValue{
    position: relative;
  font-size:1em;
}

.minValue{
	  left: -225px;
  @media screen and (min-width : 970px) {
	  left: -285px;
  }
}
.maxValue{
	left: 225px;
  @media screen and (min-width : 970px) {
	left: 285px;
  }
}
.amtDiv{
  width: 100px;
  position: relative;
  z-index: 100;
  text-align: center;
  top:-100px;
  	@media screen and (min-width : 970px) {
	top: -50px;
	}
}
.amount{
	font-size: rem(18);
}
.Min_Max {
	text-align: center;
	position:relative;
	 top: -110px;
	@media screen and (min-width : 970px) {
	top: -60px;
	}
}
.resp_arc_box{
   margin:0 auto;
  max-width: rem(500);
  max-height: rem(250);
  min-width: rem(250);
  min-height: rem(250);
  width: $width-mobile;
  height: $width-mobile-half;
  @media screen and (min-width : 970px) {
	  width: $width-tablet;
	  height: $width-tablet-half;
  }

	}
// Gauge
.mask {
  position: relative;
  overflow: hidden;
  margin:0 auto;
  display: block;

    width: $width-mobile;
  height: $width-mobile-half;
  @media screen and (min-width : 970px) {
	  width: $width-tablet;
	  height: $width-tablet-half;
  }
  //width: 80%;
  //height: 40%;
  //margin: rem(20);

}
.semi-circle {
  position: relative;

  display: block;
  width: $width-mobile;
  height: $width-mobile-half;
  @media screen and (min-width : 970px) {
	  width: $width-tablet;
	  height: $width-tablet-half;
  }
  //width: 80%;
  //padding-top: 40%;  
  background: #f2f2f2;
 // background: linear-gradient(10deg, to right, $red 0%, $red 10%, $green 10%, $green);

  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
  	left: $width-mobile-mask-depth;
  	right: $width-mobile-mask-depth;
  	top: $width-mobile-mask-depth;
    z-index: 2;

    display: block;

    background: #fff;

    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
  }      
}

.semi-circle--mask {
  position: absolute;
  top: 0;
  left: 0;
  width: $width-mobile;
  height: $width-mobile;
  @media screen and (min-width : 970px) {
	  width: $width-tablet;
	  height: $width-tablet;
  }
  //width: 80%;
  //padding-top: 80%;
  background: transparent;
/*

  transition: all 3s ease-in-out;
  */
  backface-visibility: hidden;
  transform:  translate3d(0,0,0);
  transform-origin: center center;

  -webkit-transform:  translate3d(0,0,0);
  -webkit-transform-origin: center center;
  -webkit-backface-visibility: hidden;

  -ms-backface-visibility: hidden;
  -ms-transform:  translate3d(0,0,0);
  -ms-transform-origin: center center;
  
  
  &::before {
    content: "";

    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;

    display: block;

  width: rem(402);
  height: rem(202);
   @media screen and (min-width : 970px) {
	  width: rem(502);
	  height: rem(252);
  }
   width: $width-mobile;
  height: $width-mobile-half;
  @media screen and (min-width : 970px) {
	  width: $width-tablet + 2;
	  height: $width-tablet-half + 2;
  }
  //width: 101%;
  //padding-top: 51%;
    margin: -1px 0 0 -1px;

    background: #f2f2f2;

    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
  }      
}


$angle_inc: 0;

@for $angle_inc from 0 through 100
{
	$angle : $angle_inc * 1.8;

	.Rotate-#{$angle_inc}{
		@include Rotate(#{$angle}deg);
	}
	$pc: "%";
	$percent: #{$angle_inc}#{$pc};
	
	@if $angle_inc <= 10 {
		$percent: #{$angle_inc*2}#{$pc};
	} @else if $angle_inc <= 30 {
		$percent: #{$angle_inc + 8}#{$pc};
	} @else if $angle_inc <= 40 {
		$percent: #{$angle_inc + 5}#{$pc};
	}

    $safari-angle: 90 - $angle;
	
	/* Class to inject when deposit is greater than cashback */
	.semi-circle-style-#{$angle_inc}{

		@include semi-circle(#{$safari-angle}deg, #{$angle}deg, #{$safari-angle}deg, $start-smart-color-light-blue--mobile, $start-smart-color--light-green, $percent);
	}
	
	/* Class to inject when cashback is grater than deposit */
	.semi-circle-style-reverse-#{$angle_inc}{

		@include semi-circle(#{$safari-angle}deg, #{$angle}deg, #{$safari-angle}deg,  $start-smart-color--light-green, $start-smart-color-light-blue--mobile, $percent);
	}
}

.semi-circle {
    &::before {
      content: "";
      bottom: 0;
      left: 50px;
      right: 50px;
      top: 50px;
	  @media screen and (min-width : 970px) {
      left: 60px;
      right: 60px;
      top: 60px;
	  }
    }      
  }
@media screen and (max-width : 320px) /*  PHONE VIEW   */
{

}